In [2]:
tuple=(1,2,3,5,'apple','mango','orange',12.75,50.67)
print(tuple)

(1, 2, 3, 5, 'apple', 'mango', 'orange', 12.75, 50.67)

In [3]:
#indexing
tuple[3]

5

In [4]:
##sliceing
tuple[1:6]

(2, 3, 5, 'apple', 'mango')

In [5]:
tuple[1:6:2]

(2, 5, 'mango')

In [8]:
tup3=('data',25,[50,100],[100,50],{'john','david'},(99,33,44))

In [9]:
tup3[2][1]

100

In [11]:
tup3[-1][2]

44

In [13]:
# count method is mainly used for count the element in tuple
tuple1=(1,1,2,2,3,4,5,6,7,7,8,9)
tuple1.count(3)

1

In [14]:
# to check the index location in the given tuple
tuple1=(1,1,2,2,3,4,5,6,7,7,8,9)
tuple1.index(3)

4

In [15]:
# membership operator
2 in tuple1

True

In [16]:
2 not in tuple1

False

In [21]:
tuple1=(8,9,7,1,1,2,2,3,4,5,6,)
a=sorted(tuple1)
print(a)

[1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
sorted(tuple1, reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1]